.s-cover{
    padding: 100px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    height: 79%;
}

.s-cover__main{
    text-align: center;
    background-color: rgba(255, 196, 0, 0);
    margin-bottom: 30px;
}
.s-cover__text-title{
    margin-bottom: 40px;
}
.s-cover__description{
    padding: 0px 29px;
    margin-bottom: 50px;
}
.s-cover__button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-cover__button-container a{
    margin-bottom: 10px;
}





/*
.logo img{
    width: 100%;
    height: 40px;
}
.home-header nav{
    display: none;
}
.main{
    color: white;
    padding: 30px;
    margin-bottom: 70px;
}
.main .sentence{
    text-align: center;
    margin-bottom: 90px;
}

.main .sentence h1{
    padding: 10px;
    margin-bottom: 20px;
}

.button-link svg{
    fill: white;
    height: 15px;
}


footer{
    display: flex;
    justify-content: center;
}
.icon-arrow{
    height: 17px;
} */