.s-cover{
    padding: 80px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url("../../../assets/img/ufaber-bg-phone.jpg");
    background-size: cover;
    background-position: center;
}
.s-cover__main{
    text-align: center;
    background-color: rgba(255, 196, 0, 0);
}
.s-cover__text-title{
    margin-bottom: 40px;
}
.s-cover__description{
    padding: 0px 29px;
    margin-bottom: 50px;
}
.s-cover__button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s-cover__button-container a{
    margin-bottom: 10px;
}

.s-cover__footer{
    display: flex;
    justify-content: center;
    background-color:rgba(0, 0, 255, 0);
    width: 100%;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
}
.s-cover__icon{
    display: block;
    width: 20px;
    height: 20px;
}
.s-cover__icon svg path{
    fill: var(--color-text-light);
}
.s-cover__icon:hover{
    opacity: 0.6;
}
@media only screen  and (min-width: 610px){
    .s-cover{
        background: url("../../../assets/img/ufaber-bg-desktop.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width:860px){
    .s-cover__button-container{
        flex-direction: row;
    }
    .s-cover__button-container a{
        margin: 0 5px;
    }
    .s-cover__main{
        margin-bottom: 120px;
    }
}