.s-stories{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-dark);
}
.s-stories__header{
    padding: 40px 20px 25px 20px;
    text-align: center;
}
.s-stories__title{
    margin-bottom: 20px;
    
    font-size: 24px;
}
.s-stories__description{
    width: 95%;
    font-size: 13px;
}
.s-stories__text-description{
    display: block;
    margin: auto;
}
.s-stories__business{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 27px;
    min-height: 170px;
}
.s-stories__company{
    min-width: 130px;
    max-width: 130px;
    height: 65px;
    margin-bottom: 5px;
    
}
.s-stories__company--1{
    background: url("../../../assets/img/businessIcon5.png");
    background-size: cover;
    background-position: center;
}
.s-stories__company--2{
    background: url("../../../assets/img/businessIcon2.jpg");
    background-size: cover;
    background-position: center;
}
.s-stories__company--3{
    background: url("../../../assets/img/businessIcon3.jpg");
    background-size: cover;
    background-position: center;
}
.s-stories__company--4{
    background: url("../../../assets/img/businessIcon4.jpg");
    background-size: cover;
    background-position: center;
}

.s-stories__company-image{
    width: 100%;
    height: 100%;
}
.s-stories__main{
    margin-bottom: 50px;
}
.s-stories__container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 5px 20px;
    min-height: 320px;
}
.s-stories__activator{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.s-stories__card{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 15px;
}
.s-stories__media{
    width: 100%;
    height: 46%;
    position: relative;
    filter: grayscale(60%);
    -webkit-filter: grayscale(60%);
}
.s-stories__media-image{
    width: 100%;
    height: 100%;
}
.s-stories__media-icon{
    position: absolute;
    width: 31px;
    height: 31px;
    background: url("../../../assets/icons/icons.png");
    background-position: 0px 372px;
    top: 40%;
    left: 45%;
    opacity: 0;
    cursor: pointer;
}
.s-stories__opinion{
    padding: 20px;
    font-weight: lighter;
    font-size: 15px;
}
.s-stories__text-opinion{
    display: block;
    height: 60%;
    margin-bottom: 10px;
}
.s-stories__info{
    display: flex;
    flex-direction: row;
}
.s-stories__avatar{
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
}
.s-stories__avatar-image{
    width: 100%;
    height: 100%;
}
.s-stories__data{
    display: flex;
    flex-direction: column;
}
.s-stories__info-name{
    font-weight: bold;
    font-size: 14px;
}
.s-stories__job{
    font-size: 12px;
}
.s-stories__footer{
    margin-bottom: 50px;
}

.s-stories__activator:checked + .s-stories__activator-media .s-stories__card .s-stories__media{
    min-height: 70%;
    min-width: 180px;
    transition-duration: 1s;
}
.s-stories__activator:checked + .s-stories__activator-media .s-stories__card .s-stories__media .s-stories__media-icon{
    opacity: 1;
}




@media screen and (min-width: 860px){
    .s-stories__header{
        padding-top: 90px;
    }
    
    .s-stories__business{
        justify-content: center;
        min-height: 140px;
    }
    .s-stories__company{
        margin-right: 50px;
    }
    .s-stories__main{
        width: 100%;
    }
    .s-stories__container{
        display: flex;
        min-height: 205px;
        max-height: 205px;
    }
    .s-stories__card{
        flex-direction: row;
        align-items: center;
        height: 100%;
    }
    .s-stories__media{
        transition-duration: .3s;
        min-width: 0vw;
        max-width: 0vw;
    }


}




