.s-system{
    height: 100vh;
    /* min-height: 1500px; */
    width: 100%;
    background: url("../../../assets/img/ufaber-bg.jpg");
    background-size: cover;
    position: relative;
}
.s-system__header{
    padding: 20px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark);
    text-align: center;
}
.s-system__title{
    margin-bottom: 15px;
    font-size: 17px;
}
.s-system__description{
    width: 95%;
}
.s-system__main{
    color: var(--color-text-dark);
    width: 100%;
    display: flex;
}
.s-system__menu {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.s-system__menu-item{
    border-bottom: solid 1px var(--color-gray-light);
}

.s-system__menu-item:hover .s-system__submenu{
    display: flex;
    background-color: var(--color-gray-light);
    transition-duration: .3s;
}
.s-system__menu-item:hover{
    background-color: var(--color-gray-light);
}
.s-system__menu-item:hover .s-system__text-link::after{
    display: block;
}
.s-system__item-link{
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: block;
    margin: 10px;
}
.s-system__text-link{
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    position: relative;
}
.s-system__text-link::after{
    content: "";
    height: 2px;
    width: 50px;
    background-color: var(--color-sky);
    display: none;
    margin: auto;
    margin-top: 4px;
    position: absolute;
    left: 75px;
}

.s-system__submenu{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-system__submenu-item{
    margin: 10px;
    font-weight: lighter;
}
.s-system__submenu-item:hover{
    font-weight: bold;
}

.s-system__footer{
    position: relative;
    padding-top: 40px;
    padding-bottom: 30px;
    color: var(--color-text-dark);
    /* background: url("../../../assets/img/ufaber-bg.jpg"); */
}
.s-system__footer-text{
    padding: 10px 30px;
}
.s-system__footer-text-title{
    margin-bottom: 10px;
    font-size: 20px;
}
.s-system__footer-description{
    width: 85%;
    font-size: 15px;
}
.s-system__button-container{
    padding: 0px 25px;
}
.s-system__headphone{
    position: absolute;
    height: 165px;
    width: 130px;
    bottom: -40px;
    right: -55px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.s-system__image{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:319px){
    .s-system__headphone{
        display: none;
    }
    .s-system__footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s-system__footer-description{
        margin: auto;
    }
}

@media screen and (min-width:860px){
    .s-system{
        padding: 0px 30px;
    }
    .s-system__header{
        align-items: flex-start;
        text-align: start;
        height: 15%;
        padding: 30px;
    }
    .s-system__menu{
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .s-system__menu-item{
        width: 30%;
        padding: 0px 20px;
    }

    .s-system__item-link{
        display: inline;
    }
    .s-system__submenu{
        display: flex;
        align-items: flex-start;
    }
    .s-system__text-link{
        text-align: start;
        margin: 0;
        padding: 0px 8px;
    }
    .s-system__text-link::after{
        left: 8px;
    }

    .s-system__headphone{
        height: 300px;
        width: 280px;
        bottom: -110px;
        right: -12px;
    }
    .s-system__menu-item:hover{
        background-color: transparent;
    }
    .s-system__menu-item:hover .s-system__submenu{
        background-color: transparent;
    }
    .s-system__menu-item:hover .s-system__submenu-item{
        background-color: transparent;
    }



    

}





