@import '../../00-toolbox/general.css';
@import '../../01-elements/e-button.css';
@import '../../03-sections/all/s-header.css';
@import '../../03-sections/home/s-cover.css';
@import '../../03-sections/all/s-footer.css';

.s-cover{
    background: url("../../../assets/img/ufaber-bg-phone.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}




