:root {
    --color-sky:#0098D5;
    --color-green:#00C467;
    --color-amber:#FF9638;
    --color-soft-red:#FC624D;
    --color-star:#FFB359;
    --color-text-light:#FEFEFE;
    --color-text-dark:#435664;
    --color-text-gray:#8693A0;
    --color-background-dark:#213646;
    --color-gray-transparent:rgba(90, 90, 90, 0.199);
    --color-border-gray:rgba(201, 201, 201, 0.562);
    --color-link-light:#B8C5CD;
    --color-gray-light:#d6dde2;
}
