.e-button{
    border-radius: 45px;
    border: solid 2px transparent;
    padding: 5px 18px;
    margin: 0 5px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-dark);
    width: 185px;
}
.e-button__text{
    margin: 0 5px;
}
.e-button__icon{
    height: 14px;
    width: 14px;
    fill: var(--color-text-light);
}
.e-button.e-button--green{
    background-color: var(--color-green);
    color: var(--color-text-light);
}
.e-button.e-button--skyblue{
    background-color: var(--color-sky);
    color: var(--color-text-light);
}
.e-button.e-button--amber{
    background-color: var(--color-amber);
    color: var(--color-text-light);
}
.e-button.e-button--amber:active{
    background: rgba(240,108,0,1);
    
}

.e-button.e-button--transparent{
    color: var(--color-text-light);
    background-color: var(--color-gray-transparent);
    border: solid 2px var(--color-border-gray);
}
.e-button.e-button--transparent:hover{
    background-color: var(--color-border-gray);
    color: var(--color-text-light);
    border: solid 2px var(--color-sky);
    transition-duration: .5s;
}

