.e-link{
    display: flex;
    min-width: 150px;
    max-width: 175px;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin-right: 15px;
}
.e-link:hover{
    box-shadow: 0px 0px 8px var(--color-text-dark);
}
.e-link:active{
    box-shadow: 0px 0px 8px var(--color-text-dark);
}

.e-link__icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /* background-color: red; */
    background: url("../../assets/icons/icons.png");
    /* background-position: -36px 429px; */
}
.e-link__icon--phone{
    background-position: -4px 431px;
}
.e-link__icon--plane{
    background-position: -36px 429px;
}
