.s-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: all 950.6s;
    -webkit-transition: all 99950.6s;
    -moz-transition: all 950.6s;
    -ms-transition: all 950.6s;
    -o-transition: all 950.6s;
    opacity: 0;
}
.s-header.s-header--sticky{
    opacity: 1;
    background-color: var(--color-background-dark);
    box-shadow: 10px 0px 9px var(--color-text-dark); 
    padding-bottom: 16px;
}

.s-header__nav{
    display: none;
}

.s-header a{
    width: 120px;
}

.s-header .s-header__logo{
    padding: 5px;
    height: 50px;
    width: 100%;
}
@media screen and (min-width:860px){
    
    .s-header{
        justify-content: space-between;
    }
    
    .s-header__nav{
        display: flex;
        width: 250px;
        justify-content: space-around;
    }
    
}


